<nav class="nav">
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>&nbsp;
    <img src="assets/thumb-1920-499934.png"/>
</nav>