<app-header></app-header>

<!--table-->
<div class="col-sm-7">
  <div class="both">
    <div class="table">
      <table class="transparent-table table mt-2">
        <thead>
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phonenumber }}</td>
            <td>
              <i
                style="color: rgb(0, 255, 4)"
                routerLink="/viewcontact/{{ item.id }}"
                class="fa fa-eye"
                >View</i
              >&nbsp;
              <i
                (click)="editContact(item)"
                style="color: blue"
                class="fas fa-edit"
                >Edit</i
              >
              &nbsp;
              <i
                style="color: red"
                (click)="openDeleteModal(item)"
                class="fas fa-trash"
                >Delete</i
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="Add">
      <app-add-contact
        (userAdded)="onUserAdded($event)"
        [existingContact]="existingContact"
      ></app-add-contact>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Deletion</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this contact?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteContact()">
      Delete
    </button>
    <button type="button" class="btn btn-secondary" (click)="d('cancel')">
      Cancel
    </button>
  </div>
</ng-template>
