<app-header></app-header>

<!--table-->
<div class="col-sm-7">
  <div class="both">
    <div class="Add">
      <!-- Display the child component with existingContact bound to it -->
      <app-add-contact
        (userAdded)="onUserAdded($event)"
        [existingContact]="existingContact"
        (cancelEdit)="cancelEdit"
        (isUpdateMode)="false"
      ></app-add-contact>
    </div>
    <div class="table">
      <div class="add">
        <button
          *ngIf="existingContact"
          (click)="updateContact(existingContact)"
        >
          Add Contact
        </button>
      </div>
      <table class="table table mt-2">
        <thead>
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phonenumber }}</td>
            <td>
              <i
                style="color: rgb(0, 255, 4)"
                routerLink="/viewcontact/{{ item.id }}"
                class="fa fa-eye"
                >View</i
              >&nbsp;
              <i
                (click)="editContact(item)"
                style="color: blue"
                class="fas fa-edit"
                >Edit</i
              >
              &nbsp;
              <i
                style="color: red"
                (click)="delete(item.id)"
                class="fas fa-trash"
                >Delete</i
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
