button:hover {
  color         : white;
  background    : linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 49%,
    rgba(252, 176, 69, 1) 100%
  );
  cursor        : pointer;
}
i:hover {
  box-shadow    : 0 0 10px #fa3403, inset 0 0 10px #fdb01d;
}

.both {
  display       : flex;
}

.table {
  margin-top    : 4rem;
  margin-left   : 5rem;
  width         : max-content;
}

.Add {
  margin-left   : 20rem;
}
button {
  width         : 42.3rem;
  border-radius : 0.5rem;
  padding       : 0.2rem;
}

.close {
  margin-right  : 0.03rem;
}
.modal-title {
  margin-left   : 8.5rem;
}
