<app-header></app-header>
<!--image-->
<div class="container-fluid">
    <div class="row">
        <div class="col sm-5">
            <div class="image">
                <img src="assets/e77801a28852fb1e085718f1be2337cb.png">
            </div>
        </div>
        <!--form section-->
        <div class="col-md-6">
            <div  class="card">
                <h5>ViewContact</h5>
                <div class="row">
                    <form >
                        <div class="input-box">
                        <div class="form-floating mb-3">
                            <input [disabled]="true" class="form-control" id="floatingInput" placeholder="name@example.com"
                            [(ngModel)]="contactData.name"
                          name="name">
                            <label for="floatingInput">Name</label>
                          </div>
                       
                          <div class="form-floating mb-3">
                            <input [disabled]="true"   class="form-control" id="floatingInput" placeholder="name@example.com"
                             [(ngModel)]="contactData.email"
                          name="email">
                            <label for="floatingInput">Email address</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input [disabled]="true" class="form-control" id="floatingInput" placeholder="name@example.com"
                            [(ngModel)]="contactData.phonenumber"
                          name="phonenumber" >
                            <label for="floatingInput">Mobile No.</label>
                          </div>
                        <div class="text center mt-2">
                        <button type="submit" routerLink="/contactlist" class="btn btn-success">Back</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
         </div>
    </div>
</div>