<app-header></app-header>
<!--image-->
<div class="container-fluid">
    <div class="row">
        <div class="col sm-5">
            <div class="image">
                <img src="assets/giphy (1).gif"/>
            </div>
        </div>
        <!--form section-->
        <div class="col-md-6">
            <div  class="card">
                <h5>Add Contact</h5>
                <div class="row">
                    <form [formGroup]="contactForm">
                        <div class="input-box">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" formControlName="name" placeholder="name@example.com">
                            <label for="floatingInput">Name</label>
                          <div class="error-list"*ngIf="fc.name.errors && isSubmitted">
                            <div class="err" *ngIf="fc.name.errors.required">Should not be empty</div>
                        </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                          <div class="error-list"*ngIf="fc.email.errors && isSubmitted">
                            <div class="err" *ngIf="fc.email.errors.required">Should not be empty</div>
                            <div class="err" *ngIf="fc.email.errors.email">Email is not correct</div>
                        </div>
                        </div>
                    
                        <div class="form-floating mb-3">
                            <input [maxlength]="9" type="number" class="form-control" id="floatingInput" formControlName="phonenumber" placeholder="name@example.com">
                            <label for="floatingInput"> Mobile No.</label>
                          <div class="error-list"*ngIf="fc.phonenumber.errors && isSubmitted">
                            <div class="err" *ngIf="fc.phonenumber.errors.required">Should not be empty</div>
                            <div class="err" *ngIf="fc.phonenumber.errors.minlength"> empty</div>
                        </div>
                        </div>
                        <div class="text center mt-2">
                        <button type="submit" (click)="submitContact(this.contactForm.value)"class="btn btn-primary">Submit</button>&nbsp;
                        <button type="submit" routerLink="/contactlist" class="btn btn-success">Back</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
       