<app-header></app-header>
<!--image-->
<div class="container-fluid">
  <div class="row">
    <div class="col sm-5">
      <div class="image">
        <img src="assets/giphy (1).gif" />
      </div>
    </div>
    <!-- form section -->
    <div class="col-md-6">
      <div class="card">
        <h5>View Contact</h5>
        <div class="row">
          <form>
            <div class="input-box">
              <div class="form-floating mb-3">
                <input
                  [disabled]="true"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [value]="contactData.name"
                />
                <label for="floatingInput"><strong>Name</strong></label>
              </div>

              <div class="form-floating mb-3">
                <input
                  [disabled]="true"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [value]="contactData.email"
                />
                <label for="floatingInput"><strong>Email address</strong></label>
              </div>
              <div class="form-floating mb-3">
                <input
                  [disabled]="true"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  [value]="contactData.phonenumber"
                />
                <label for="floatingInput"><strong>Mobile No.</strong></label>
              </div>
              <div class="text-center mt-2">
                <button
                  type="button"
                  routerLink="/home"
                  class="btn btn-success"
                >
                  Back
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
